
<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/materialize/css/materialize.min.css">

<script type="text/javascript" src="/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
<style>
    body    { padding-top:50px; }
</style>