<div style="border:thin solid #CECECE; min-height:200px;margin-top:10px">
	<div class="row">
		<div class="col s5">
			<div class="row">
				<label class="col s1">Name:</label>
				<label class="col s1"><%= info.name %></label>						
			</div>
			<div class="row">
				<label class="col s1">Intro:</label>
				<p class="col s4 truncate">One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While elements on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem, for text heavy pages, we've created a class that fluidly scales text size and line-height to optimize readability for the user. Line length stays between 45-80 characters and line height scales to be larger on smaller screens.

				To see Flow Text in action, slowly resize your browser and watch the size of this text body change! Use the button above to toggle off/on flow-text to see the difference!
				</p>					
			</div>
			<div class="row">
				<label class="col s1">Start date:</label>
				<label class="col s1"><%= info.start_date %></label>						
			</div>
			<div class="row">
				<label class="col s2">Teacher:</label>
				<label class="col s2">Some one</label>						
			</div>
		</div>
		<div class="col s6">
			<div class="row">
				<label class="col s2">Picture:</label>
				<img class="col s4 materialboxed" width="650" src="N">						
			</div>
			<div class="row">
				<div class="col s3"><a class="btn-small waves-effect waves-light btn">Save</a></div>
				<div class="col s3"><a class="btn-small waves-effect waves-light btn">Reset</a></div>
				<div class="col s3"><a class="btn-small waves-effect waves-light btn">Cancel</a></div>
			</div>
		</div>
	</div>
</div>