<div style="border:thin solid #CECECE; min-height:200px;margin-top:10px">
<% q1.questions.forEach(function(question,index){ %>
 	<div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              	<span class="card-title red">Q<%=index+1%></span>
              		<p><%= question.q %></p>
            	</div>
            	<div class="card-action row">
            		<% question.a.forEach(function(answer,i){%>
					<p class="col s2">
				      <input name="group1" type="radio" id="test<%=i+1 %>" disabled="disabled"/>
				      <label for="test<%=i+1 %>"><%=answer %></label>
				    </p>
				    <% })%>
            	</div>
        	</div>
    	</div>
    </div>
<% }) %>
</div>