<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div style="padding:10px"></div>
        <div class="row">
            <div class="col s2"><a class="waves-effect waves-light btn">New lesson</a></div>
            <div class="col s2"><a class="waves-effect waves-light btn">New Template</a></div>
        </div>
        <hr style="border:1px dashed #000; height:1px">
        
        <table class="bordered striped">
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Item Name</th>
              <th data-field="price">Item Price</th>
              <th data-field="price">Item Price</th>
              <th data-field="price">Item Price</th>
              <th data-field="price">Item Price</th>
          </tr>
        </thead>

        <tbody>
            <% lessons.forEach(function(lesson){ %>
                <tr>
                    <td><%- link_to(lesson.name, "/lesson/"+lesson.id) %></td>
                    <td><%=lesson.teacher %></td>
                    <td><%=lesson.start_date %></td>
                    <td><%=lesson.finish_date %></td>
                    <td><%=lesson.status %></td>
                    <td><%=lesson.type %></td>
                </tr>
            <% }) %>
          
        </tbody>
      </table>
            
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>