<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div style="padding:10px"></div>
		<div class="row">
            <div class="col s1"><a class="btn-small waves-effect waves-light btn">View</a></div>
            <div class="col s1"><a class="btn-small waves-effect waves-light btn">Edit</a></div>
            <div class="col s1" style="padding:10px"></div>
            <div class="col s1"><a class="btn-small waves-effect waves-light btn">Template</a></div>
            <div class="col s1"><a class="btn-small waves-effect waves-light btn">Copy...</a></div>
            <div class="col s1"><a class="btn-small waves-effect waves-light btn">Copy template...</a></div>
        </div>

        <div style="padding:10px"></div>

        <div class="row">
            <div class="col s8">
              <ul class="tabs">
                <li class="tab col s1"><a class="active" href="#info">info</a></li>
                <li class="tab col s1"><a href="#ready">ready</a></li>
                <li class="tab col s1"><a href="#questionaire">questionaire</a></li>
                <li class="tab col s1"><a href="#after">after</a></li>
                <li class="tab col s1"><a href="#behaviour">behaviour</a></li>
                <li class="tab col s1"><a href="#report">report</a></li>
              </ul>
            </div>

        
            <div id="info" class="col s12"><% include ../lesson/info %></div>
            <div id="ready" class="col s12"><% include ../lesson/questionaire %></div>
            <div id="questionaire" class="col s12">Test 3</div>
            <div id="after" class="
            col s12">Test 4</div>
        </div>



    </main>

    <footer>
            <% include ../partials/footer %>
        </div>
    </footer>
    
</body>
</html>